html, body {
	font-family: Radiance;
	background-color: #000719;
	margin: 0;
	padding: 0;
}
h2, h3 {
	text-align: center;
	color: dimgray;
}
.text{
	border: 1px solid rgba(5, 5, 5, 1.0);
	background-color: white;
	box-sizing: border-box;
	line-height: 0;
	height: 200px;
	background: url(../images/bg-1.png);
}
.gallery {
	padding-top: 20px;
	padding-left: 50px;
	box-sizing: border-box;
}
.gallery img {
	width: 250px;
	height: 188px;
	padding: 15px;
	filter: grayscale(100%);
	transition: 0.5s;
}
.gallery img:hover {
	filter: grayscale(0%);
	transform: scale(1.05);
}
.message{
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 1.7;
	text-indent: 2cm;
}
.scode {
	display: flex;
	justify-content: center;
}
.scode img {
	width: 300px;
}
